.title {
    text-align: center;
    background-color: lightblue;
    width: 100vw;
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
}

.better-price {
    background-color: #FFFF66;
}

.btn-block {
    margin-top: 1em;
}

.btn-block:hover {
    background-color: lightskyblue;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: lightskyblue;
}

table {
    width: 100%;
}


table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

trd, td {
    padding: 15px;
}


