.page-title {
    text-align: center;
}

#submitButton:hover {
    background-color: lightskyblue;
}

header {
    background-color: lightblue;
    border-bottom: solid;
}

.input-symbol-euro {
    position: relative;
  }
  .input-symbol-euro input {
    padding-right: 18px;
  }
  .input-symbol-euro:after {
    position: absolute;
    top: 0;
    content: "$";
    right: 5px;
  }

